<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aarshinkov.mobile.mycardocs">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyCarDocs"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon">
        <activity
            android:name="com.aarshinkov.mobile.mycardocs.activities.ChartActivity"
            android:parentActivityName="com.aarshinkov.mobile.mycardocs.activities.MainActivity" />
        <activity
            android:name="com.aarshinkov.mobile.mycardocs.activities.fuel.FuelExpenseCreateActivity"
            android:parentActivityName="com.aarshinkov.mobile.mycardocs.activities.MainActivity" />
        <activity
            android:name="com.aarshinkov.mobile.mycardocs.activities.fuel.FuelExpenseActivity"
            android:parentActivityName="com.aarshinkov.mobile.mycardocs.activities.MainActivity" />
        <activity
            android:name="com.aarshinkov.mobile.mycardocs.activities.service.ServiceExpenseCreateActivity"
            android:parentActivityName="com.aarshinkov.mobile.mycardocs.activities.MainActivity" />
        <activity
            android:name="com.aarshinkov.mobile.mycardocs.activities.service.ServiceExpenseActivity"
            android:parentActivityName="com.aarshinkov.mobile.mycardocs.activities.MainActivity" />
        <activity
            android:name="com.aarshinkov.mobile.mycardocs.activities.policies.PolicyActivity"
            android:parentActivityName="com.aarshinkov.mobile.mycardocs.activities.MainActivity" />
        <activity
            android:name="com.aarshinkov.mobile.mycardocs.activities.policies.PolicyUpdateActivity"
            android:parentActivityName="com.aarshinkov.mobile.mycardocs.activities.MainActivity" />
        <activity
            android:name="com.aarshinkov.mobile.mycardocs.activities.policies.PolicyCreateActivity"
            android:parentActivityName="com.aarshinkov.mobile.mycardocs.activities.MainActivity" />
        <activity
            android:name="com.aarshinkov.mobile.mycardocs.activities.cars.CarUpdateActivity"
            android:parentActivityName="com.aarshinkov.mobile.mycardocs.activities.cars.CarActivity" />
        <activity
            android:name="com.aarshinkov.mobile.mycardocs.activities.cars.CarActivity"
            android:parentActivityName="com.aarshinkov.mobile.mycardocs.activities.MainActivity" />
        <activity
            android:name="com.aarshinkov.mobile.mycardocs.activities.cars.CarCreateActivity"
            android:parentActivityName="com.aarshinkov.mobile.mycardocs.activities.MainActivity" />
        <activity
            android:name="com.aarshinkov.mobile.mycardocs.activities.StartupActivity"
            android:theme="@style/MyCarDocs.ThemeNo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aarshinkov.mobile.mycardocs.activities.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.MyCarDocs.NoActionBar" />
        <activity
            android:name="com.aarshinkov.mobile.mycardocs.activities.RegisterActivity"
            android:parentActivityName="com.aarshinkov.mobile.mycardocs.activities.LoginActivity" />
        <activity android:name="com.aarshinkov.mobile.mycardocs.activities.LoginActivity" />
        <activity
            android:name="com.aarshinkov.mobile.mycardocs.activities.ForgottenPasswordActivity"
            android:parentActivityName="com.aarshinkov.mobile.mycardocs.activities.LoginActivity" />

        <activity
            android:name="com.aarshinkov.mobile.mycardocs.activities.ResetPasswordActivity"
            android:label="@string/reset_password_title">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- NOTE: If you go to the mentioned URL through browser itself it will not prompt a suggestion -->
                <!-- It should be as a link like in a notepad on mobile phone -->
                <data
                    android:host="94.72.129.171"
                    android:pathPrefix="/MyCarDocsApi/api/password"
                    android:port="9003"
                    android:scheme="http" />
                <data
                    android:host="mycardocs.com"
                    android:pathPrefix="/api/password"
                    android:scheme="http" />
                <!-- note that the leading "/" is required for pathPrefix-->
            </intent-filter>
        </activity>
    </application>

</manifest>